@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Livvic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1156px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.header {
  padding-top: 48px;
  background-color: #014e56;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.header__logo {
  width: 128px;
}

.header__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}

.header__menu {
  width: 20px;
  height: 20px;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.header__nav {
  display: none;
}

.header__link {
  display: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 24px;
  padding: 9px 33px 11px 32px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 64px;
  }
  .header__menu {
    display: none;
  }
  .header__nav {
    display: block;
  }
  .header__link {
    display: inline-block;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    padding-top: 73px;
  }
  .header__logo {
    width: 160px;
  }
  .header__box {
    gap: 80px;
  }
}
.hero {
  padding-top: 80px;
  padding-bottom: 197px;
  background-image: url(../img/hero_bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #014e56;
}

.hero__title {
  text-align: center;
  width: 215px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  margin-bottom: 18px;
}

strong {
  color: #f67e7e;
}

.hero__text {
  width: 327px;
  font-weight: 600;
  font-size: 15px;
  line-height: 187%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 258px;
    background-image: url(../img/hero_bottom.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    width: 350px;
    font-size: 64px;
    line-height: 87%;
    margin-bottom: 24px;
  }
  .hero__text {
    width: 457px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 129px;
    padding-bottom: 250px;
    background-image: url(../img/hero_bottom.svg), url(/../img/hero_left.svg);
    background-repeat: no-repeat;
    background-position: right 165px bottom, top 129px left;
  }
  .hero__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 126px;
  }
  .hero__title {
    text-align: start;
    width: 539px;
    font-size: 100px;
    line-height: 100%;
  }
  .hero__text {
    text-align: start;
    width: 445px;
    font-size: 18px;
    line-height: 156%;
  }
  .hero__text::before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: #79c8c7;
    display: block;
    margin-bottom: 79px;
  }
}
.manage {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #012f34;
  background-image: url(../img/manage_bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.manage__block {
  max-width: 573px;
  margin-left: auto;
  margin-right: auto;
}

.manage__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #fff;
  max-width: 445px;
  margin-bottom: 56px;
}
.manage__title::before {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #f67e7e;
  display: block;
  margin-bottom: 32px;
}

.manage__list {
  text-align: center;
}

.manage__item {
  text-align: center;
}
.manage__item:not(:last-child) {
  margin-bottom: 48px;
}
.manage__item:nth-child(1)::before {
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(../../img/manage_img1.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 16px;
}
.manage__item:nth-child(2)::before {
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(../../img/manage_img2.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 16px;
}
.manage__item:nth-child(3)::before {
  content: "";
  width: 72px;
  height: 72px;
  background-image: url(../../img/manage_img3.svg);
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 16px;
}

.manage__item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #f67e7e;
  margin-bottom: 8px;
}

.manage__item__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .manage {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .manage__title {
    width: 445px;
    margin-bottom: 64px;
    text-align: start;
  }
  .manage__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 23px;
  }
  .manage__item::before {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 0;
  }
  .manage__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .manage__item__title {
    margin-bottom: 16px;
  }
  .manage__item__text {
    width: 478px;
  }
}
@media screen and (min-width: 1440px) {
  .manage {
    padding-top: 140px;
    padding-bottom: 140px;
    background-position: right bottom;
  }
  .manage__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
  }
  .manage__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 0;
    position: relative;
  }
  .manage__title::before {
    position: absolute;
    top: -54px;
  }
  .manage__list {
    max-width: 540px;
  }
}
.delivering {
  padding-top: 140px;
  padding-bottom: 164px;
  background-color: #004047;
  background-image: url(../img/delivering_top.svg), url(../img/delivering_bottom.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

.delivering__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 48px;
  color: #fff;
  max-width: 932px;
  margin-right: auto;
  margin-left: auto;
}

.delivering__span {
  color: #79c8c7;
}

.delivering__item {
  text-align: center;
}
.delivering__item:not(:last-child) {
  margin-bottom: 48px;
}

.delivering__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
  padding-top: 36px;
  max-width: 573px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../img/delivering_text_top.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.delivering__sup-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #79c8c7;
  margin-bottom: 2px;
}

.delivering__sup-text {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 138%;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .delivering {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .delivering__title {
    max-width: 75%;
  }
}
@media screen and (min-width: 1440px) {
  .delivering {
    padding-top: 140px;
    padding-bottom: 151px;
  }
  .delivering__title {
    font-size: 48px;
    margin-bottom: 56px;
    text-align: center;
  }
  .delivering__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
  .delivering__text {
    margin-bottom: 24px;
  }
  .delivering__sup-text {
    margin-bottom: 32px;
  }
}
.ready {
  padding-top: 83px;
  padding-bottom: 83px;
  background-image: url(../../img/ready_bg.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f67e7e;
}

.ready__block {
  text-align: center;
}

.ready__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #012f34;
  margin-bottom: 24px;
}

.ready__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #012f34;
  border: 2px solid #012f34;
  border-radius: 24px;
  padding: 9px 33px 11px 32px;
}

@media screen and (min-width: 768px) {
  .ready {
    padding-top: 76px;
    padding-bottom: 76px;
  }
  .ready__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 84px;
  }
  .ready__title {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1440px) {
  .ready__title {
    font-size: 48px;
  }
  .ready__block {
    gap: 260px;
  }
}
.footer {
  padding-top: 66px;
  padding-bottom: 64px;
  background-color: #002529;
}

.footer__block {
  text-align: center;
}

.footer__logo {
  margin-bottom: 24px;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

.footer__nav-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  color: #fff;
}

address {
  margin-bottom: 40px;
}

.adress_text {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #99A8A9;
}

.adress_text_link {
  color: #99A8A9;
}

.footer__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
  margin-bottom: 16px;
}

.footer__bottom-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #99A8A9;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .footer__top-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px;
  }
  .footer__bottom-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    margin-bottom: 53px;
  }
  .footer__icon-list {
    margin-bottom: 0;
  }
  .footer__nav-list {
    margin-bottom: 0;
  }
  .adress_text {
    text-align: right;
  }
  address {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1140px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__top-box {
    gap: 125px;
    margin-bottom: 0;
  }
  .footer__bottom-box {
    display: block;
  }
  .footer__icon-list {
    margin-bottom: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .footer__logo {
    margin-bottom: 25px;
  }
}/*# sourceMappingURL=main.css.map */